
/* css for the spinner */
text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}
#chart{
    position:absolute;
    width:500px;
    height:500px;
    top:0;
    left:0;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
}
#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}
/* css for the spinner end */

:root {
    font-family: 'Labrada', serif;
    font-family: 'Rozha One', serif;
    font-family: 'Sixtyfour', sans-serif;
    background-color: #B19470;
    /* Fonts are not working */
    
}

.custom-hero {
background-color: #F8FAE5;
align-items: center;
}

.custom-title{
justify-content: center;
font-size: 90px;
}

.custom-subtitle-container {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 100px;
}
/* still not centered under title */

.custom-subtitle{
    font-size: 50px;
} 


.notification.is-primary {
    background-color: #2B2A4C;
    color: #e9e2e2; 
  }


button {
    width: 100%;
    margin: 10px;
}


#icons {
    background-color: #B19470 !important;
    font-size: 30px;
    padding: 10px; 
}

#icons .button i {
    margin-right: 15px; /* Adjust the margin as needed */
  }



/* Background Color for buttons */
#icons .comedy-button { background-color: #43766C; }
#icons .family-button { background-color:#43766C ; }
#icons .action-button { background-color: #43766C; }
#icons .romantic-button { background-color: #43766C;}
#icons .doc-button { background-color: #43766C; }
#icons .sci-button { background-color: #43766C; }
#icons .horror-button { background-color: #43766C; }
#icons .musical-button { background-color: #43766C; }
#icons .mystery-button { background-color: #43766C; }
#icons .fantasy-button { background-color: #43766C; }


  /* These are for the google icons that needed to be a different color. H.E */
  .family-button i.material-symbols-outlined {
    color: #000000; 
  }


  .action-button i.material-symbols-outlined {
    color:#000000;
  }

  
  .doc-button i.material-symbols-outlined {
    color:#000000;
  }

