:root {
  background-color: #B19470;
  /* Fonts are not working */
}

*{
  font-family: 'Labrada', serif;
  font-family: 'Rozha One', serif;
  font-family: 'Sixtyfour', sans-serif;
}


/* css for the spinner */
text{
  font-family:"Labrada";
  font-size:11px;
  pointer-events:none;
}
#chart{
  position:absolute;
  width:500px;
  height:500px;
  background-color: #F8FAE5;
  top:0;
  left:0;
}


#movie-title h1 {
font-size: 50px;
Color:Pink;
font-weight: bold;
font-family: "Labrada";
position: absolute;
top: 10%;
left: 60%;
transform: translate(-50%, -50%);
width: 100%; /* Ensure the title takes full width */
text-align: center; /* Center the text horizontally */
}



#description h1 {
font-size: 30px;
color:pink;
font-weight: bold;
font-family: "Labrada";
position: relative; 
margin-top: -15%; 
margin-left: 40%; 
width: 50%; 
}

/* css for the spinner end */



.custom-hero {
background-color: #F8FAE5;
align-items: center;
}

.custom-title{
justify-content: center;
font-size: 90px;
}

.custom-subtitle-container {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 100px;
}


.custom-subtitle{
    font-size: 50px;
} 


.notification.is-primary {
    background-color: #2B2A4C;
    color: #e9e2e2; 
  }


button {
    width: 100%;
    margin: 10px;
}


#icons {
    background-color: #B19470 !important;
    font-size: 30px;
    padding: 10px; 
}

#icons .button i {
    margin-right: 15px; /* Adjust the margin as needed */
  }



/* Background Color for buttons */
#icons .comedy-button { background-color: #43766C; }
#icons .family-button { background-color:#43766C ; }
#icons .action-button { background-color: #43766C; }
#icons .romantic-button { background-color: #43766C;}
#icons .doc-button { background-color: #43766C; }
#icons .sci-button { background-color: #43766C; }
#icons .horror-button { background-color: #43766C; }
#icons .musical-button { background-color: #43766C; }
#icons .mystery-button { background-color: #43766C; }
#icons .fantasy-button { background-color: #43766C; }


  /* These are for the google icons that needed to be a different color. H.E */
  .family-button i.material-symbols-outlined {
    color: #000000; 
  }


  .action-button i.material-symbols-outlined {
    color:#000000;
  }

  
  .doc-button i.material-symbols-outlined {
    color:#000000;
  }

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  #description {
    width: 100%;
    left: 0;
  }

  #description h1 {
    font-size: 16px;
  }

  /* Spinner Styles for smaller screens */
  text {
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  #chart {
    width: 50%; /* Adjust width for smaller screens */
  }

  @media only screen and (max-width: 400px) {
    #description {
      width: 90%;
      left: 0;
    }
  
    #description h1 {
      font-size: 10px;
    }
  
    /* Spinner Styles for smaller screens */
    text {
      font-size: 14px;
    }
  
    #chart {
      width: 100%; 
    }
  }
}